<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>
    <% include ../static/partials/messages.ejs %>
    <% include ../static/partials/currentUser.ejs %>

    <div style="display: flex; align-items: center;">
      <% if(currentUser) { %>
        <% include ../votes/voting.ejs %>
      <% } %>
    </div>

    <main class="container">
      <h1 class="light-font"><%= post.title %></h1>
      <h3 class="light-font">Body of Post:</h3>
      <p class="translucent"><%= post.body %></p>
      <div class="row justify-content-end">
        <a href="/topics/<%= post.topicId %>/posts/<%= post.id %>/edit" class="btn btn-dark btn-margin">Edit</a>
        <form style="display:initial" action="/topics/<%= post.topicId %>/posts/<%= post.id %>/destroy" method="post">
          <button type="submit" class="btn btn-dark btn-margin">Delete</button>
        </form>
        <% if(currentUser) { %>
          <% include ../favorites/favoriting.ejs %>
        <% } %>
      </div>

      <section id="comment-form">
        <% if(currentUser) { %>
          <% include ../comments/new.ejs %>
        <% } %>
      </section>

      <section id="comment-list">
        <% if(post.comments) { %>
          <% post.comments.forEach( comment => { %>
            <%- include("../comments/show.ejs", {comment}) %>
          <% }) %>
        <% } %>
      </section>

    </main>
    <% include ../static/partials/baseScripts.ejs %>

    <section class="row justify-content-center">
      <a style="margin:2%" class="btn btn-secondary" href="/topics/<%= post.topicId %>">Return to All Posts</a>
      <a style="margin:2%" class="btn btn-secondary" href="/topics">Return to Topic Menu</a>
    </section>

  </body>
</html>
